extends layout.pug

block content
  script(
    type="text/javascript"
  ) const bingo = !{JSON.stringify(bingo.contents)}
  h2= pageTitle
  div.container
    div(
      id="bingo"
      class="container-fluid"
      v-on:update:ticked="tick"
    )
      div(
        is="bingo-line"
        v-for="line, index in reshapedBingo.lines"
        v-bind:tiles="line.tiles"
      )