extends layout.pug

block headjs
  script(
    type="text/javascript"
  ) const bingo = !{JSON.stringify(bingo.contents)};

block content
    div(
      id="bingo"
      class="container-fluid"
      v-on:update:ticked="tick"
    )
      div(
        is="bingo-line"
        v-for="line, index in reshapedBingo.lines"
        v-bind:tiles="line.tiles"
      )

block js
  script(src="/vue.js", type="text/javascript")
  script(src="/client.js", type="text/javascript")